<% provide(:title, "About") %>
<h1>About FlexiPay</h1>
<p1>
  FlexiPay is a large scale payment platform which converts international currency
  and online currency according to the user preferences. Our organisation encourages
  people to choose a faster, safer and the more flexible way to pay for their online
  goods and services. That is why FlexiPay allows users to convert their currency like
   paypal to bitcoin, steam money to AUD and etc. with just a click of a button.
   We strive to create a simple, quick and convenient alternative so that our
   business receive 100% satisfaction from our users.
</p1>
<h1>Our Mission</h1>
<p1>
  To create a quick, protected and simple alternative to convert and pay.
</p1>
<h1>Our Vision</h1>
<p1>
  FlexiPay aims to become a Large scale organisation which aims for many
  of our users to rely on when exchanging online currency or international
  currency in the moment.
</p1>
