<% provide(:title) %>
<div class = "balance-box">
  <small>
    <h3>Balance:  $<%=current_user.balance%></h3>


  </small>


</div>
<%= link_to "Deposit", deposit_path, class: "btn btn-lg btn-primary" %>
