<% provide(:title) %>
<div class = "balance-box">
  <small>

    <h3>Balance: $<%=
      if current_user.balance.nil?
        render html: "0.00"
      else
        current_user.balance
      end %> </h3>



  </small>


</div>
<%= link_to "Deposit", deposit_path, class: "btn btn-lg btn-primary" %>
