<% provide(:title, "Wallet") %>
<div class="row">
  <div class="col-md-4">

    <small>
      <h3>Balance: $<%=
        if current_user.bitcoin.nil?
          render html: "0.00"
        else
          current_user.bitcoin
        end %> </h3>

        <%= link_to "View dollar balance", wallet_path, class: "btn btn-lg btn-primary" %>
        <%= link_to "Get bitcoins", convert_path, class: "btn btn-lg btn-primary" %>

    </small>
</div>
</div>
